<div class="row">
    <div class="col-md-8">
        <select class="form-control" name="user" [(ngModel)]="selectas" #userIndex>
            <option selected disabled value="-1" >Pasirinkite darbuotoją</option>
            <option *ngFor="let user of users; let i = index" [value]="i" >{{user.name}} {{user.surname}}</option>
        </select>
    </div>
    <div class="col-md-4">
        <button type="Submit" [disabled]="selectas < 0" class="btn btn-success float-right" (click)="addTask(userIndex, taskId)">Patvirtinti</button>
    </div>
</div>

<!-- [(ngModel)]="selectas" -->
